<!DOCTYPE html>
<html lang="ko" th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
    <title>회원 목록</title>
</head>
<body>
<main class="container max600">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">등급</th>
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <th th:text="${member.getId()}">번호</th>
            <td th:text="${member.loginId}">아이디</td>
            <td th:text="${member.name}">이름</td>
            <td th:text="${member.getGrade()}">등급</td>
            <td>
                <a th:href="@{/members/{id}/edit (id=${member.getId()})}"
                   class="btn btn-primary" role="button">수정</a>
            </td>
            <td>
                <a th:href="@{/members/{id}/delete (id=${member.getId()})}"
                   class="btn btn-danger" role="button">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<script></script>
</body>
</html>