<!DOCTYPE html>
<html lang="ko" th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
    <title>로그인</title>
</head>
<body>
<main class="container max600">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <form th:action  th:Object="${loginForm}"  method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error"
            th:each="err : ${#fields.globalErrors()}"
            th:text="${err}"
            ></p>
        </div>
        <div class="mb-3">
            <label th:for="loginId" class="form-label">로그인 ID</label>
            <input type="text" class="form-control" th:field="*{loginId}">
            <div th:errors="*{loginId}" class="field-error"></div>
        </div>
        <div class="mb-3">
            <label th:for="password" class="form-label">Password</label>
            <input type="password" class="form-control" th:field="*{password}">
            <div th:errors="*{password}" class="field-error"></div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="w-100 btn btn-primary">로그인</button>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn btn-secondary"
                        th:onclick="|location.href='@{/}'|">취소</button>
            </div>
        </div>
    </form>
</main>
<script></script>
</body>
</html>