<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::script})}">
<head>
    <title>로그인</title>
</head>
<body>
<main class="container max600">

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <form th:action th:object="${loginForm}" method="post">

        <!-- 전체 오류(로그인 실패) — 폼 상단에 표시 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="field-error"></p>
        </div>

        <div class="mb-3">
            <label th:for="loginId" class="form-label">로그인 ID</label>
            <input type="text" class="form-control" th:field="*{loginId}">
            <div th:errors="*{loginId}" class="field-error"></div>
        </div>

        <div class="mb-3">
            <label th:for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" th:field="*{password}">
            <div th:errors="*{password}" class="field-error"></div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="w-100 btn btn-primary btn-lg">로그인</button>
            </div>
            <div class="col">
                <a th:href="@{/}" class="w-100 btn btn-secondary btn-lg">취소</a>
            </div>
        </div>
    </form>

</main>

<th:block th:fragment="script"></th:block>
</body>
</html>