<!DOCTYPE html>
<html lang="ko" th:fragment="layout(title, content, script)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title th:replace="${title}">home</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="flex-grow-1">
    <main th:replace="${content}"></main>
</div>
<footer th:replace="~{footer :: footerFragment}"></footer>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<th:block th:replace="${script}"></th:block>
</body>
</html>